<div class="footer">
    <a href="https://www.facebook.com/dario.tarnowski81/" target="_blank"><img src="https://img.icons8.com/fluency/48/000000/facebook.png"/></a>
    <a href="https://www.instagram.com/dario_tarnowski/" target="_blank"><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" /></a>
    <a href="https://bit.ly/3fAbk2L" target="_blank"><img  src="https://img.icons8.com/fluency/48/000000/linkedin.png"/></a>
    <a href="https://bit.ly/3hDzpbu" target="_blank"><img src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a>
    <a href="https://twitter.com/DhtServicios" target="_blank"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a>
    <p class="foottext">Diseño Tarnowski Darío</p>
</div>

