<div class="proyectos">
    <h2 class="proyTitu"  id="txtSeccion">Proyectos</h2>
    <div class="trabajo-container">
      <div class="trabajo-1">
        <img class="rectangle" src="https://i.ibb.co/Yc2QdjS/html.jpg" alt="html" />
        <div class="proyecto-1" id="font-proy">Proyecto 1</div>
        <div class="html-css-js" id="font-trabajos">HTML, CSS JS</div>
      </div>
      <div class="trabajo-2">
        <img class="rectangle" src="https://i.ibb.co/X7qL2Zc/wordpress.jpg" alt="wordpress" />
        <div class="proyecto-1" id="font-proy">Proyecto 2</div>
        <div class="wordpress" id="font-trabajos">Wordpress</div>
      </div>
      <div class="trabajo-2">
        <img class="rectangle" src="https://i.ibb.co/Gvz4ctH/community.jpg" alt="community" />
        <div class="proyecto-1" id="font-proy">Proyecto 3</div>
        <div class="community" id="font-trabajos">Community Manager y Social Media</div>
      </div>
      <div class="trabajo-4">
        <img class="rectangle" src="https://i.ibb.co/PF3B9yC/scrum.jpg" alt="scrum"/>
        <div class="proyecto-1" id="font-proy">Proyecto 4</div>
        <div class="scrum-manager" id="font-trabajos">SCRUM Manager</div>
      </div>
    </div>
</div>
