<div class="portfolio">
  <app-header></app-header>
  <app-about></app-about>
  <app-cv></app-cv>
   
 
      <div class="proyectos">
          <h2 class="proyectos-1"  id="txtSeccion">Proyectos</h2>
          <div class="trabajo-container">
            <div class="trabajo-1">
              <img class="rectangle" src="/img/html.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 1</div>
              <div class="html-css-js" id="font-trabajos">HTML, CSS JS</div>
            </div>
            <div class="trabajo-2">
              <img class="rectangle" src="/img/wordpress.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 2</div>
              <div class="wordpress" id="font-trabajos">Wordpress</div>
            </div>
            <div class="trabajo-2">
              <img class="rectangle" src="img/community.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 3</div>
              <div class="community" id="font-trabajos">Community Manager y Social Media</div>
            </div>
            <div class="trabajo-4">
              <img class="rectangle" src="img/scrum.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 4</div>
              <div class="scrum-manager" id="font-trabajos">SCRUM Manager</div>
            </div>
          </div>
      </div>
      <div class="skills">
          <div class="overlap-group4">
            <h2 class="habilidades-blandas-duras" id="txtSeccion"> Habilidades Blandas &amp; Duras</h2>
            <div class="graficos">
              <div class="overlap-group-3">
                <div class="percent">15%</div>
              </div>
              <div class="overlap-group1-2">
                <div class="percent">30%</div>
              </div>
              <div class="overlap-group2-1">
                <div class="percent">45%</div>
              </div>
              <div class="overlap-group3">
                <div class="percent">100%</div>
              </div>
            </div>
            <div class="textos-habilidades">
              <span class="idiomas" id="font-skills">Idiomas tecnicos. <br />Manejo básico</span>
              <div class="comunicacion" id="font-skills">Comuniciación y oratoria<br />Desarrollo personal</div>
              <div class="diseno-web" id="font-skills">Diseño Web<br />Manejo de CMS</div>
              <div class="marketing" id="font-skills">Marketing y analitica web</div>
            </div>
          </div>
      </div>
      <div class="footer">
          <div class="facebook-square">
           <a href="https://www.facebook.com/dario.tarnowski81/" target="_blank"><img class="vector" src="vector/vector-face.svg" /></a>
          </div>
          <div class="instagram-square">
            <a href="https://www.instagram.com/dario_tarnowski/" target="_blank"><img class="vector" src="vector/vector-ig.svg" /></a>
          </div>
          <div class="Linkedin-square">
              <a href="https://bit.ly/3fAbk2L" target="_blank"><img class="vector" src="vector/vector-in.svg" /></a>
          </div>
          <div class="youtube-square">
            <a href="https://bit.ly/3hDzpbu" target="_blank"><img class="vector" src="vector/vector-yb.svg" /></a>
          </div>
          <div class="twitter-square">
              <a href="https://twitter.com/DhtServicios" target="_blank"><img class="vector" src="vector/vector-tw.svg" /></a>
          </div>
        </div>
  <!-- </div>-->
<!-- </div>-->