<div class="portfolio">
  <app-header></app-header>
  
   
      <div class="seccion2">
          <h2 class="txt_acercade">Acerca de</h2>
          <div class="textoAcerca">Analista programador, master en marketing digital y community manager, profesor en informática</div>
          <div class="borde_btn"><div class="btn_anadir"><a id="txt_anadir" href="#">Añadir Sección</a></div></div>
      </div>
      <div class="seccion3">
          <div class="body-ee">
              <h2 class="Curriculum" id="txtSeccion">Curriculum</h2>
                  <div id="Experiencia_box">
                      <span class="Items-font" id="Experiencia">Experiencia</span>
                      <div class="logos">
                          <img class="isjpii" src="img/isjpii.png" /><img class="dht-servicios" src="img/LOGO.fw.png" /><img
                          class="neetwork" src="img/neetwork.jpg"/><img class="utn-cba" src="img/utn.jpg" /><img class="iaes" src="img/iaes.jpg" />
                      </div>
                  <div class="experiencia2">
                      <div class="font-items" id="profesor-de-informt">
                          <span><span class="bold">Profesor de informática y Formación Profesional <br />ISJPII<br /></span><span>Abril 2013 - actualidad 8 años<br />Puerto Rico Misiones</span></span>
                      </div>
                      <div class="font-items" id="desarrollador-pgina">
                          <span><span class="bold">Desarrollador Páginas Web con Wordpress y Analitica Web<br />INNDERA Empresa de carpintería<br /></span><span>Noviembre 2018 - diciembre 2019 - 1 año<br />Puerto Rico Misiones Argentina</span></span>
                      </div>
                  </div>
                  </div>
              <div id="educ-box">
                  <span class="Items-font" id="Educacion">Educación</span>
                  <div class="educacion">
                      <div class="font-items" id="master-en-marketing">
                          <span><span class="bold">Máster en Marketing Digital y Community Manager y Social Media<br />Neetwork Business School<br /></span><span>Noviembre 2018 - Noviembre 2019 - 1 año<br/>Virtual on line</span>                </span>
                      </div>
                      <div class="font-items" id="ing-en-sistemas">
                          <span><span class="bold">Ing En Sistemas de Información <br />UTN CBA - Incompleto<br /></span><span>Marzo 2003 - Noviembre 2008 - 5 años <br />Ciudad de Córdoba, Argentina</span></span>
                      </div>
                      <div class="font-items" id="analista-programador">
                          <span><span class="bold">Analista Programador <br />IAES<br /></span><span>Marzo - 2000 - Septiembre 2002 - 2 años <br />Puerto Rico Misiones Argentina</span></span>
                      </div>
                  </div>
              </div>
              <div class="botones-edit">
                  <a class="fuente-btn lapiz" href="#">&#x270E;</a>
                  <div class="overlap-edit">
                    <div class="x2-botones">
                      <div class="btn-edit">
                          <a class="fuente-btn lapiz" href="#">&#x270E;</a><a class="fuente-btn eliminar" href="#">&#x2421;
                      <div class="btn-edit-1">
                          <a class="fuente-btn lapiz" href="#">&#x270E;</a><a class="fuente-btn eliminar" href="#">&#x2421;</a>
                      </div>
                      <div class="btn-edit-2">
                          <a class="fuente-btn lapiz" href="#">&#x270E;</a><a class="fuente-btn eliminar" href="#">&#x2421;</a>
                      </div>
                      <div class="btn-edit-3">
                          <a class="fuente-btn lapiz" href="#">&#x270E;</a><a class="fuente-btn eliminar" href="#">&#x2421;</a>
                      </div>
                      <div class="btn-edit-4">
                          <a class="fuente-btn lapiz" href="#">&#x270E;</a><a class="fuente-btn eliminar" href="#">&#x2421;</a>
                      <!-- </div>-->
                    </div>
                    <a class="fuente-btn" id="agregar-1" href="#">+</a>
                    <a class="fuente-btn" id="agregar-2" href="#">+</a>
                    <!-- </div>-->
          <!-- </div>-->
 <!-- </div>-->
      <div class="proyectos">
          <h2 class="proyectos-1"  id="txtSeccion">Proyectos</h2>
          <div class="trabajo-container">
            <div class="trabajo-1">
              <img class="rectangle" src="/img/html.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 1</div>
              <div class="html-css-js" id="font-trabajos">HTML, CSS JS</div>
            </div>
            <div class="trabajo-2">
              <img class="rectangle" src="/img/wordpress.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 2</div>
              <div class="wordpress" id="font-trabajos">Wordpress</div>
            </div>
            <div class="trabajo-2">
              <img class="rectangle" src="img/community.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 3</div>
              <div class="community" id="font-trabajos">Community Manager y Social Media</div>
            </div>
            <div class="trabajo-4">
              <img class="rectangle" src="img/scrum.jpg" />
              <div class="proyecto-1" id="font-proy">Proyecto 4</div>
              <div class="scrum-manager" id="font-trabajos">SCRUM Manager</div>
            </div>
          </div>
      </div>
      <div class="skills">
          <div class="overlap-group4">
            <h2 class="habilidades-blandas-duras" id="txtSeccion"> Habilidades Blandas &amp; Duras</h2>
            <div class="graficos">
              <div class="overlap-group-3">
                <div class="percent">15%</div>
              </div>
              <div class="overlap-group1-2">
                <div class="percent">30%</div>
              </div>
              <div class="overlap-group2-1">
                <div class="percent">45%</div>
              </div>
              <div class="overlap-group3">
                <div class="percent">100%</div>
              </div>
            </div>
            <div class="textos-habilidades">
              <span class="idiomas" id="font-skills">Idiomas tecnicos. <br />Manejo básico</span>
              <div class="comunicacion" id="font-skills">Comuniciación y oratoria<br />Desarrollo personal</div>
              <div class="diseno-web" id="font-skills">Diseño Web<br />Manejo de CMS</div>
              <div class="marketing" id="font-skills">Marketing y analitica web</div>
            </div>
          </div>
      </div>
      <div class="footer">
          <div class="facebook-square">
           <a href="https://www.facebook.com/dario.tarnowski81/" target="_blank"><img class="vector" src="vector/vector-face.svg" /></a>
          </div>
          <div class="instagram-square">
            <a href="https://www.instagram.com/dario_tarnowski/" target="_blank"><img class="vector" src="vector/vector-ig.svg" /></a>
          </div>
          <div class="Linkedin-square">
              <a href="https://bit.ly/3fAbk2L" target="_blank"><img class="vector" src="vector/vector-in.svg" /></a>
          </div>
          <div class="youtube-square">
            <a href="https://bit.ly/3hDzpbu" target="_blank"><img class="vector" src="vector/vector-yb.svg" /></a>
          </div>
          <div class="twitter-square">
              <a href="https://twitter.com/DhtServicios" target="_blank"><img class="vector" src="vector/vector-tw.svg" /></a>
          </div>
        </div>
  <!-- </div>-->
<!-- </div>-->