<div class="portfolio">
  <app-header></app-header>
  <app-about></app-about>
  <app-cv></app-cv>
  <app-proyecto></app-proyecto>
  <app-skills></app-skills> 
      
     
      <div class="footer">
          <div class="facebook-square">
           <a href="https://www.facebook.com/dario.tarnowski81/" target="_blank"><img class="vector" src="vector/vector-face.svg" /></a>
          </div>
          <div class="instagram-square">
            <a href="https://www.instagram.com/dario_tarnowski/" target="_blank"><img class="vector" src="vector/vector-ig.svg" /></a>
          </div>
          <div class="Linkedin-square">
              <a href="https://bit.ly/3fAbk2L" target="_blank"><img class="vector" src="vector/vector-in.svg" /></a>
          </div>
          <div class="youtube-square">
            <a href="https://bit.ly/3hDzpbu" target="_blank"><img class="vector" src="vector/vector-yb.svg" /></a>
          </div>
          <div class="twitter-square">
              <a href="https://twitter.com/DhtServicios" target="_blank"><img class="vector" src="vector/vector-tw.svg" /></a>
          </div>
        </div>
  <!-- </div>-->
<!-- </div>-->