<div class="skills">
    <h2 class="habilidades" id="txtSeccion"> Habilidades Blandas &amp; Duras</h2>
    <!--<div class="graficos">
        <div class="overlap-group-3">
          <div class="percent">15%</div>
        </div>
        <div class="overlap-group1-2">
          <div class="percent">30%</div>
        </div>
        <div class="overlap-group2-1">
          <div class="percent">45%</div>
        </div>
        <div class="overlap-group3">
          <div class="percent">100%</div>
        </div>
      </div
      <div class="textos-habilidades">
        <span class="idiomas" id="font-skills">Idiomas tecnicos. <br />Manejo básico</span>
        <span class="comunicacion" id="font-skills">Comuniciación y oratoria<br />Desarrollo personal</span>
        <span class="diseno-web" id="font-skills">Diseño Web<br />Manejo de CMS</span>
        <span class="marketing" id="font-skills">Marketing y analitica web</span>
      </div>>-->
</div>
