<div class="seccion3">
    <div class="body-ee">
        <h2 class="Curriculum" id="txtSeccion">Curriculum</h2>
            <div id="Experiencia_box">
                <span class="Items-font" id="Experiencia">Experiencia</span>
                <div class="logos">
                    <img class="isjpii" src="https://i.ibb.co/Jr53g8M/isjpii.png" alt="isjpii" />
                    <img class="dht-servicios" src="https://i.ibb.co/mSnMP11/LOGO-fw.png" alt="LOGO-fw" />
                    <img class="neetwork" src="https://i.ibb.co/3CGt57T/neetwork.jpg" alt="neetwork"/>
                    <img class="utn-cba" src="https://i.ibb.co/pLrpcNr/utn.jpg" alt="utn" />
                    <img class="iaes" src="https://i.ibb.co/V3v9Zmg/iaes.jpg" alt="iaes" />
                </div>
            <div class="experiencia2">
                <div class="font-items" id="profesor-de-informt">
                    <span><span class="bold">Profesor de informática y Formación Profesional <br />ISJPII<br /></span><span>Abril 2013 - actualidad 8 años<br />Puerto Rico Misiones</span></span>
                </div>
                <div class="font-items" id="desarrollador-pgina">
                    <span><span class="bold">Desarrollador Páginas Web con Wordpress y Analitica Web<br />INNDERA Empresa de carpintería<br /></span><span>Noviembre 2018 - diciembre 2019 - 1 año<br />Puerto Rico Misiones Argentina</span></span>
                </div>
            </div>
            </div>
        <div id="educ-box">
            <span class="Items-font" id="Educacion">Educación</span>
            <div class="educacion">
                <div class="font-items" id="master-en-marketing">
                    <span><span class="bold">Máster en Marketing Digital y Community Manager y Social Media<br />Neetwork Business School<br /></span><span>Noviembre 2018 - Noviembre 2019 - 1 año<br/>Virtual on line</span>                </span>
                </div>
                <div class="font-items" id="ing-en-sistemas">
                    <span><span class="bold">Ing En Sistemas de Información <br />UTN CBA - Incompleto<br /></span><span>Marzo 2003 - Noviembre 2008 - 5 años <br />Ciudad de Córdoba, Argentina</span></span>
                </div>
                <div class="font-items" id="analista-programador">
                    <span><span class="bold">Analista Programador <br />IAES<br /></span><span>Marzo - 2000 - Septiembre 2002 - 2 años <br />Puerto Rico Misiones Argentina</span></span>
                </div>
            </div>
        </div>
        <!--<div class="botones-edit">
            <a href="#">&#x270E;</a>
            <a href="#">&#x270E;</a><a href="#">&#x2421;
            <a href="#">&#x270E;</a><a href="#">&#x2421;</a>
            <a href="#">&#x270E;</a><a href="#">&#x2421;</a>
            <a href="#">&#x270E;</a><a href="#">&#x2421;</a>
            <a href="#">&#x270E;</a><a href="#">&#x2421;</a>
            <a class="fuente-btn" id="agregar-1" href="#">+</a>
            <a class="fuente-btn" id="agregar-2" href="#">+</a>-->
        