
            <div id="Experiencia">
                 <h2 id="Items-font" >Experiencia</h2>
                 <div class="btn-edit">
                     <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
                 </div>
            </div>
            <ul class="">
                <li *ngFor="let experiencia of experienciaList">
                    <div class="logos">
                        <a href="#">
                            <div class="logo-img">
                                <img 
                                    class="isjpii" 
                                    [src]="experiencia.img" 
                                   
                                />
                            </div>
                            <div class="font-items" id="profesor-de-informt">
                                <div>
                                    <h3 class="bold">{{experiencia.cargo}}</h3>
                                    <p>{{experiencia.entidad}} -<span>{{experiencia.modo}}</span></p>
                                    <H4><time>{{experiencia.desde}}</time> - <time>{{experiencia.hasta}}</time>  - {{experiencia.timeElapsed}}</H4>
                                    <h4>{{experiencia.localidad}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div id="Educacion">
                <h2 id="Items-font" >Educacion</h2>
                    <div class="btn-edit">
                        <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
                    </div>
            </div>
            <ul class="">
                <li *ngFor="let educacion of educacionList">
                    <div class="logos">
                        <a href="#">
                            <div class="logo-img">
                                <img 
                                    class="isjpii" 
                                    [src]="educacion.img" 
                                /><!--debe ser generico la clase no isjpii-->
                            </div>
                            <div class="font-items" id="profesor-de-informt">
                                <div>
                                    <h3 class="bold">{{educacion.carrera}}</h3>
                                    <p>{{educacion.instituto}}<span>- {{educacion.modo}}</span></p>
                                    <H4><time>{{educacion.desde}}</time> - <time>{{educacion.hasta}}</time>  - {{educacion.timeElapsed}}</H4>
                                    <h4>{{educacion.lugar}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        
                                 
                    
                   <!-- <img class="neetwork" src="https://i.ibb.co/3CGt57T/neetwork.jpg" alt="neetwork"/>
                    <img class="utn-cba" src="https://i.ibb.co/pLrpcNr/utn.jpg" alt="utn" />
                    <img class="iaes" src="https://i.ibb.co/V3v9Zmg/iaes.jpg" alt="iaes" />
          experiencia2
           
              
                
                    
            </div>
    
        <div id="educ-box">
            <span id="Items-font" class="Educacion">Educación</span>
            <div class="educacion">
                <div class="font-items" id="master-en-marketing">
                    <span><span class="bold">Máster en Marketing Digital y Community Manager y Social Media<br />Neetwork Business School<br /></span><span>Noviembre 2018 - Noviembre 2019 - 1 año<br/>Virtual on line</span>                </span>
                </div>
                <div class="font-items" id="ing-en-sistemas">
                    <span><span class="bold">Ing En Sistemas de Información <br />UTN CBA - Incompleto<br /></span><span>Marzo 2003 - Noviembre 2008 - 5 años <br />Ciudad de Córdoba, Argentina</span></span>
                </div>
                <div class="font-items" id="analista-programador">
                    <span><span class="bold">Analista Programador <br />IAES<br /></span><span>Marzo - 2000 - Septiembre 2002 - 2 años <br />Puerto Rico Misiones Argentina</span></span>
                </div>
            </div>
        </div>-->
        