<div id="Header">
    <div class="Encabezado">
        <div class="Logo_AP">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <img  class="APLogo" src="https://i.ibb.co/pvQ5VcK/APLogo-20-20.png" alt="APLogo-20-20" border="0"></a>
            <p class="Txt_YoProgramo">#YoProgramo</p>
        </div>
        <div class="botones"><!--Buttom-->
            <a class="Login" href="#">Login</a>
        </div>
            <!--<div class="rectangulo_registro">
                <a class="txt_registro" href="#">Registrase</a>
            </div>-->
    </div>
</div>  

<div id="Seccion1">
    <div id="container-header">
        <img class="img-header" src="https://i.ibb.co/pRktbtC/header.jpg"> 
        <img class="fondo-header" >
            <!--src="/img/fondo-header.svg">-->
    </div>
        <!--<div class="menu1">
            <a class="acerca-de-1" href="#">Acerca de</a>
            <a class="trabajos" href="#">Trabajos</a>
            <a class="contacto" href="#">Contacto</a>
        </div>-->
    <div class="logo">
        <div class="rectangle-1">
            <div class="cuadro_logo">
                <div class="nombre">
                    <h1 class="daro-hernn-tarnowski">Darío Hernán Tarnowski</h1>
                    <h2 class="titulo">Analista Programador - Master en Marketing Digital</h2>
                </div>
            </div>
        </div>  
    </div>
        <img class="foto-perfil" src="https://i.ibb.co/YRqjCTX/fotoperfil.png" alt="fotoperfil" border="0">
        <a href="#" target="_blank"><img class="logo-dht" src="https://i.ibb.co/30P2bC8/logochico.png" alt="logochico"></a>
</div> 