<div id="Header">
    <div class="Encabezado">
        <div class="Logo_AP">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <img  
                class="APLogo"
                src="https://i.ibb.co/pvQ5VcK/APLogo-20-20.png" alt="APLogo-20-20"
                 border="0">
            </a>
            <p class="Txt_YoProgramo">#YoProgramo</p>
        </div>
        <div class="botones"><!--Buttom [<app-btn-login><app-btn-login>]-->
            <a class="Login" href="#">Login</a>
        </div>
    </div>
</div>  

<div id="Seccion1">
    <div id="container-header">
        <img class="img-header"
            [src]="miPortfolio.imgheader"
        > 
        <img class="fondo-header" >
     </div>
     
    <div class="logo">
        <div class="rectangle-1">
            <div class="cuadro_logo">
                <div class="nombre">
                    <h1 class="daro-hernn-tarnowski">{{miPortfolio.name}}</h1>
                    <h2 class="titulo">{{miPortfolio.titulo}}</h2>
                </div>
            </div>
        </div>  
    </div>
        <p class="profesion">{{miPortfolio.nameUser}}<br/>{{miPortfolio.profesion}} 
            {{miPortfolio.company.name}}<br/>{{miPortfolio.homeTown}} 
            <a 
                [href]="miPortfolio.url"
                target="_blank"
            >
                Contacto
            </a>
        </p>
        <img 
            class="foto-perfil" 
            [src]="miPortfolio.fotoperfil" alt="fotoperfil" 
        >
        <a 
            [href]="miPortfolio.company.url"
            target="_blank"
        >
            <img
                class="logo-dht" 
                [src]="miPortfolio.company.img"
                alt="logochico"
            >
        </a>
</div> 