<div id="Header">
    <div class="Encabezado">
        <div class="Logo_AP">
          <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
            <img  class="APLogo" src="https://i.ibb.co/pvQ5VcK/APLogo-20-20.png" alt="APLogo-20-20" border="0"></a>
        <div class="Txt_YoProgramo">#YoProgramo</div>
        </div>
        <div class="botones">
            <div class="btn_login">
                <div class="btn_registro">
                    <a class="Login" href="#">Login</a>
                </div>
            </div>
            <div class="rectangulo_registro">
                <a class="txt_registro" href="#">Registrase</a>
            </div>
        </div>
    </div>  

    <div id="Seccion1">
        <div class="acerca-de">
        <div id="container-header">
            <img class="img-header" src="https://i.ibb.co/pRktbtC/header.jpg"> 
            <img  class="fondo-header" src="/img/fondo-header.svg">
        </div>
        <div class="menu1">
            <div class="acerca-de-1" id="font_menu1"><a href="#">Acerca de</a>
            <div class="trabajos" id="font_menu1"><a href="#">Trabajos</a>
            <div class="contacto" id="font_menu1"><a href="#">Contacto</a>
        </div>
        <div class="logo">
            <div class="rectangle-1">
                <div class="cuadro_logo">
                    <div class="nombre">
                        <h1 class="daro-hernn-tarnowski">Darío Hernán Tarnowski</h1>
                    <div class="titulo">Analista Programador - Master en Marketing Digital</div>
                    </div>
                </div>
            </div>  
        </div>
            <img class="foto-perfil" src="img/fotoperfil.png">
            <a href="#" target="_blank"><img class="logo-dht" src="img/logochico.png"></a>
        </div>
    </div> 